#main_heading {
    background: "https: //cdn.pixabay.com/photo/2016/03/26/22/21/books-1281581__340.jpg";
    text-align: center;
    background-color: cornflowerblue;
    color: #fff;
    padding: 20px;
    letter-spacing: 2px;
    font-weight: 300;
    display: flex;
    justify-content: center;
}